.react-geocoder {
  position: relative;

  input {
    width: calc(100% - 40px);
    outline: none;
    background: #f7f7f7;
    box-shadow: inset 0 2px 2px 0 rgba(34,34,34,.1);
    border-radius: 3px;
    border: none;
    font-size: 18px;
    color: #3b3b3b;
    text-align: left;
    padding: 20px;
  }
}

.react-geocoder-results {
  background-color: #fff;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  top: 110%;
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;
  border: 1px solid rgba(34,34,34,.1);
}

.react-geocoder-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #404040;
  // background-color: #f3f3f3;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 12px;
  &:hover {
    background-color: #f3f3f3;
  }
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  max-width: 100%;
  width: 100%;
}

#topContainer {
  .mapboxgl-map {
    display: none;
  }  
}
