@import "./scss/styles.scss";



.section-head {
  font-weight:600;
  font-size: 36px;
  color: #222222;
}

.subsection-head {
  font-weight:800;
  font-size: 28px;
  color: #222222;
}




.element-head {
  font-weight:800;
  font-size: 20px;
  color: #222222;
  line-height: 20px;
}

.element-accent {
  font-family: UnifySans-Regular;
  font-size: 16px;
  color: #888888;
  line-height: 16px;
}
